body {
    background-color: #EBEFF2;
    letter-spacing: .3px;
}

.container {
    width: 90%;
}
/********* start left side *********/
.left-side {
    background-color: #1A2736;
    width: 19%;
    height: 100%;
    position: fixed;
    float: left;
    left: 0;
    margin: 0px;
    overflow: auto;
}

.prof {
    height: 70px;
    width: 100%;
    background-color: #009688;
    padding: 15px 0;
}

    .prof img {
        height: 40px;
        border: 2px solid white;
    }

    .prof p {
        color: white;
        font-weight: bold;
        margin: 10px 0px;
        margin-left: -10px;
        letter-spacing: 0.2px;
    }

    .prof i {
        color: #1B6858;
        margin: 15px 0px;
    }

.links p {
    color: #4D575D;
    font-weight: bold;
    font-size: 17px;
    margin-left: 25px;
}

.links ul,
.links ul .li {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    .links ul .li a {
        display: block;
        padding: 10px 25px;
        color: #89949B;
    }

        .links ul .li a i {
            font-size: 17px;
        }

    .links ul li a span {
        margin-left: 10px;
        font-weight: bolder;
        font-size: 15px;
    }

    .links ul .li.activee {
        border-left: 3px solid #009688;
        background: rgba(0,0,0,.4);
    }

    .links ul .li:hover {
        background: rgba(0,0,0,.2);
    }

.links span.badge.new {
    margin-top: 4px;
    background-color: #1B6858;
}

.links .collapsible-header {
    height: auto;
    background-color: transparent;
    border: none;
    color: #89949B;
}

.links .collapsible,
.links .collapsible-body {
    border: none;
}

.links .collapsible {
    box-shadow: none;
}

    .links .collapsible .collapsible-header {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        font-weight: bolder;
        font-size: 15px;
    }

        .links .collapsible .collapsible-header i {
            font-size: 20px;
            margin-right: 0.5rem;
        }

        .links .collapsible .collapsible-header:hover {
            background: rgba(0,0,0,.2);
        }

.links .iner-ul {
    border-left: 2px solid rgba(59,70,72,.5);
    padding: 0px;
    margin-left: 30px;
    position: relative;
}

    .links .iner-ul li a {
        padding: 10px 20px;
        font-weight: bold;
        font-size: 15px;
    }

        .links .iner-ul li a span {
            margin-left: 8px;
            font-weight: bolder;
            font-size: 14px;
        }

    .links .iner-ul li:before {
        left: 0;
        margin-top: 22px;
        width: 15px;
        content: ' ';
        position: absolute;
        display: inline-block;
        border: 1px solid rgba(59,70,72,.5);
    }

.links .collapsible .collapsible-header .fa-angle-left {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/********* end left side *********/
/********* start right side *********/
.right-side {
    width: 81%;
    float: right;
    right: 0;
    margin: 0px;
}

    .right-side nav {
        background-color: #1A2736;
        width: 81%;
        height: 70px;
        position: fixed;
        float: right;
        right: 0;
        margin: 0px;
        box-shadow: none;
        z-index: 999;
    }

        .right-side nav .logo {
            width: 15%;
            margin-top: 5px;
        }

        .right-side nav ul {
            margin-right: 8px;
        }

            .right-side nav ul li i {
                font-size: 23px;
            }

            .right-side nav ul li a {
                padding: 3px 15px;
                color: #89949B;
            }

        .right-side nav .log > a {
            font-size: 1rem;
            color: #fff;
            display: block;
            padding: 3px 25px;
            background-color: #009688;
        }

        .right-side nav ul li a span {
            position: relative;
            top: -17px;
            right: 10px;
            background-color: #009688;
            color: white;
            line-height: 1;
            padding: 4px 5px;
            border: 2px solid #1A2736;
            border-radius: 50%;
            font-size: 12px;
        }

table tr td,
table tr th {
    border-right: 1px solid #D9E3F0;
}

table tr td {
    min-width: 130px;
}

table tr .num {
    max-width: 50px;
}

table tr .no {
    border: none;
}

table tr td ul {
    display: block;
    list-style: none;
}

    table tr td ul li {
        float: left;
    }

        table tr td ul li a {
            margin-left: 20px;
        }

        table tr td ul li .fa {
            font-size: 1.1rem;
        }

.red {
    background-color: #E24545;
    color: #fff;
}



.blue {
    background-color: #265FA0;
}

.btn:hover {
    background-color: #1A2736;
}

.wrap {
    background-color: white;
    border: 1px solid rgba(206,219,236,.75);
    box-shadow: 0 2px 0 0 rgba(206,219,236,.5);
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    overflow: hidden;
}

.add-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #1A2736;
}

#delete {
    height: 150px;
}

.toast {
    background-color: #1A2736;
    margin-top: 35px;
    right: -65px;
    height: 70px;
}


/********* Start dashboard *********/

/********* end dashboard *********/
/********* Start home *********/


/********* end home *********/
/********* Start social *********/
.social-admin .fa {
    background-color: #FFFFFF;
    color: #1A2736;
    border: 1px solid #9E9E9E;
    padding: 14px 0 13px 15px;
    margin-left: -10px;
    border-radius: 3px;
    font-size: 18px;
}

/********* end social *********/
/********* end right side *********/
.btn-flat {
    background-color: teal;
    color: #fff;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-flat, .modal .modal-footer .btn-large {
    float: right;
    margin: 6px 5px;
}


.tile {
    font-size: 20px;
    font-weight: 500;
}


.dels {
    padding-top: 15px;
    letter-spacing: 0.5px;
}

.input-pad {
    padding-bottom: 15px;
}