﻿@model IQueryable<ShopStore.Entites.Models.Orders>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul class="collection with-header center-align">
        <li class="collection-header"><h4 class="brown-text">Your Orders</h4></li>
    
    @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <li class="collection-item">You ordered @item.Book.Name at @item.Date.ToShortDateString() </li>

            }

        }
        else
        {
            <li class="collection-item">There is no orders yet.</li>

        }
    </ul>
</div>
