﻿@model ShopStore.Entites.Models.Author


@using (Html.BeginForm("Create", "Authors", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-content">
        <h4>Add Item</h4>
        <div class="row">

            @Html.AntiForgeryToken()
            <div class="row">


                @Html.ValidationSummary(true)

                <div class="input-field col s12">



                    @Html.EditorFor(model => model.Name, new { @class = "validate" })
                    @Html.ValidationMessageFor(model => model.Name)


                    @Html.LabelFor(model => model.Name)

                </div>

                <div class="input-field col s12">



                    @Html.EditorFor(model => model.Description, new { @class = "validate" })
                    @Html.ValidationMessageFor(model => model.Description)


                    @Html.LabelFor(model => model.Description)

                </div>

                <div class="input-field col s12">


                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="img">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Create</button>
        </div>

    </div>}

