﻿@model ShopStore.Entites.Models.Author



<div class="modal-content">
    <h5>Are you Sure you Want Delete this Item !?</h5>
</div>

<div class="modal-footer">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">no</a>

            <input type="submit" value="Delete" class="modal-action modal-close waves-effect waves-green btn-flat " />
    }
</div>
