﻿@model ShopStore.Entites.Models.Author


<div class="modal-content">
    <h4>Item Details</h4>
    <div class="row">

        @Html.AntiForgeryToken()
        <div class="row">
            <div class="input-pad">
                <div class="tile">
                    @Html.DisplayFor(model => model.Name)
                </div>
                @Html.LabelFor(model => model.Name, new { @class = "dels" })
            </div>

            <div class="input-pad">
                <div class="tile">
                    @Html.DisplayFor(model => model.Description)
                </div>
                @Html.LabelFor(model => model.Description, new { @class = "dels" })
            </div>


        </div>
    </div>
</div>


