﻿@model ShopStore.Entites.Models.Author



 @using (Html.BeginForm()) 
{
        <div class="modal-content">
            <h4>Edit Item</h4>
            <div class="row">

    @Html.AntiForgeryToken()
             <div class="row">

   
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

          <div class="input-field col s12">
		                  @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            @Html.LabelFor(model => model.Name)



        </div>

          <div class="input-field col s12">
		                  @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            @Html.LabelFor(model => model.Description)



        </div>

</div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat " >Edit</button>
        </div>
		
    </div>}


