﻿@model IEnumerable<ShopStore.Entites.Models.Author>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminShared.cshtml";
}



<div class="team">
    <div class="wrap">

        <a href="#add" class="modal-trigger add-btn btn waves-effect waves-light btn-floating btn-large"><i class="fa fa-plus"></i></a>

        <table class="bordered hoverable centered">
            <thead>
                <tr>
                    <th class="num">#</th>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="no">Options</th>
                </tr>
            <thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>#</td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td class="no">
                            <ul>
                                <li><a href="@Url.Action("Details",new { id = item.Id})" onclick="detailsClick(this); return 0;" class="modal-trigger btn btn-floating waves-effect waves-light blue"><i class="fa fa-eye"></i></a></li>
                                <li><a href="@Url.Action("Edit",new { id = item.Id })" onclick="editClick(this); return 0;" class="modal-trigger btn btn-floating waves-effect waves-light blue"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="@Url.Action("Delete",new { id = item.Id })" onclick="deleteClick(this); return 0;" class="modal-trigger btn btn-floating waves-effect waves-light red"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <!-- Modal Add -->

        <div id="add" class="modal modal-footer">
            @{ Html.RenderAction("Create");}

        </div>
        <!-- Modal Edit -->

        <div id="Edit" class="modal modal-footer">

        </div>
        <!-- Modal Details -->

        <div id="Details" class="modal modal-footer">

        </div>
        <!-- Modal Details -->

        <div id="Delete" class="modal modal-footer">

        </div>
    </div>
</div>
