﻿@{
    bool isLoggedIn = this.Context.User.Identity.IsAuthenticated;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>The Starts Bookstore</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo brown-text"> <i style="font-size:50px;" class="material-icons">star</i> </a>
            <ul class="right hide-on-med-and-down">
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")"><a class=" brown-text" href="/">Home</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Books" ? "active" : "") "><a class="brown-text" href="@Url.Action("Index","Books")">Books</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Authors" ? "active" : "")"><a class=" brown-text" href="@Url.Action("Index","Authors")">Authors</a></li>

                @if (!isLoggedIn)
                {
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "active" : "")"><a class=" brown-text" href="@Url.Action("Register","Home")">Register</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")"><a class=" brown-text" href="@Url.Action("Login","Home")">Login</a></li>
                }
                else
                {
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Orders" ? "active" : "")"><a class=" brown-text" href="@Url.Action("Index","Orders")">My Orders</a></li>

                    <li><a class=" brown-text" href="@Url.Action("Logout","Home")">Logout</a></li>

                }

            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li class="active"><a class=" brown-text" href="/">Home</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Books" ? "active" : "") "><a class="brown-text" href="@Url.Action("Index","Books")">Books</a></li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Authors" ? "active" : "")"><a class=" brown-text" href="@Url.Action("Index","Authors")">Authors</a></li>

                @if (!isLoggedIn)
                {
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "active" : "")"><a class=" brown-text" href="@Url.Action("Register","Home")">Register</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")"><a class=" brown-text" href="@Url.Action("Login","Home")">Login</a></li>
                }
                else
                {
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Orders" ? "active" : "")"><a class=" brown-text" href="@Url.Action("Index","Orders")">My Orders</a></li>

                    <li><a class=" brown-text" href="@Url.Action("Logout","Home")">Logout</a></li>

                }
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    @*<div class="LayoutClear" style="padding-top:50px;padding-bottom:30px;min-height:73vh;">*@
    @RenderBody()


    @*</div>*@
    <footer class="page-footer brown lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">
                        We are a team of college students working on this project like it's our full time job. This is our project for the HCI course in our college.

                    </p>

                </div>

                <div class="col l6 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Register</a></li>
                        <li><a class="white-text" href="#!">Authors</a></li>
                        <li><a class="white-text" href="#!">Books</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3">Love</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="/js/jquery.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>
