﻿@model IQueryable<ShopStore.Entites.Models.Book>

<style>
    .bolden{
        font-weight:600;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card horizontal">
                <div class="card-image">
                    <img src="~/img/Books/@(item.Id).jpg" style="width:180px;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">

                        <h5 class="title brown-text">@item.Name</h5>
                        <p><span class="bolden brown-text">Author : </span> <span>@item.Author.Name</span> </p>
                        <p><span class="bolden brown-text">Pages : </span> <span>@item.numberOfPages</span> </p>
                        <p><span class="bolden brown-text">Description : </span> <span>@item.Description</span> </p>
                        <p><span class="bolden brown-text">Relase Date : </span> <span>@item.ReleaseDate.ToShortDateString()</span> </p>

                    </div>
                    @if (this.Context.User.Identity.IsAuthenticated)
                    {
                        <div class="card-action">
                            <a onclick="OpenModel(@item.Id)"  class="brown waves-effect waves-light btn" href="#modal1">Order</a>
                        </div>
                    }
                    else
                    {
                        <div class="card-action">
                            <a href="/home/login" class="brown-text text-darken-2">You need to be logged in to order</a>
                        </div>
                    }
                </div>
            </div>        
        }

        <!-- Modal Trigger -->

        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-footer">
            <div class="modal-content">
                <h4>Confirmation</h4>
                <input type="hidden" id="tempID" value="" />
                <p>Are you sure you want to order this book ? </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">NO</a>
                <a href="#!" onclick="SendOrder()" class="modal-action waves-effect waves-green btn-flat ">YES</a>
            </div>
        </div>


    </div>
</div>
<script>
    function OpenModel(id) {
        $('#tempID').val(id);
        $('#modal1').modal('open');


    }
    function SendOrder() {
        var id = $('#tempID').val();
        jQuery.ajax('/Books/order/' + id).done(function () {
            alert("Order was done");
            $('#modal1').modal('close');

        });

    }
</script>