﻿@model IEnumerable<ShopStore.Entites.Models.Author>


<div class="container">
    <div class="row">
       @foreach (var item in Model)
       {
        <div class="col s12 m4">
            <div class="card" style="height:485px;">
                <div class="card-image">
                    <img src="/img/authors/@(item.Id).jpg" class="responsive-img">
                    <span class="card-title">@item.Name</span>
                </div>
                <div class="card-content">
                    <p>
                        @item.Description

                    </p>
                </div>
                <div class="card-action">
                    <a href="@Url.Action("Books","Authors",new { id = item.Id })" class="brown-text">Show his books</a>
                </div>
            </div>
        </div>
       }
           

        
    
    </div>
</div>

