﻿@model IEnumerable<ShopStore.Entites.Models.Orders>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Areas/Admin/Views/Shared/_AdminShared.cshtml";
}



<div class="team">
    <div class="wrap">

        <a href="#add" class="modal-trigger add-btn btn waves-effect waves-light btn-floating btn-large"><i class="fa fa-plus"></i></a>

        <table class="bordered hoverable centered">
            <thead>
                <tr>
                    <th class="num">#</th>

                    <th>
                        @Html.DisplayNameFor(model => model.Book.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                </tr>
            <thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>#</td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>

                       
                    </tr>
                }
            </tbody>

        </table>
        <!-- Modal Add -->

    </div>
</div>
