﻿@model IQueryable<ShopStore.Entites.Models.Book>
@{
    var Authors = ViewBag.Authors as IQueryable<ShopStore.Entites.Models.Author>;
}

<style>
    .bolden {
        font-weight: 600;
    }
    /* label color */
    .input-field input {
        border-bottom: 1px solid #ffffff;
        color: #fff;
    }

    .input-field label {
        color: #fff;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
        color: #fff;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0 0 #fff;
    }
    /* valid color */
    .input-field input[type=text].valid {
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0 0 #fff;
    }
    /* invalid color */
    .input-field input[type=text].invalid {
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0 0 #fff;
    }
    /* icon prefix focus color */
    .input-field .prefix.active {
        color: #fff;
    }

    .select-wrapper input.select-dropdown {
        border-bottom: 1px solid #fff;
    }

    .select-wrapper span.caret {
        color: #fff;
    }

    .dropdown-content li > a, .dropdown-content li > span {
        color: #795548 !important;
    }
</style>

<div class="brown lighten-2" style="">
    <div class="container">
        <div class="row">
            <form method="get">
                <div class="col s6">
                    <div class="input-field">

                        <input type="text" placeholder="Search ..." name="query" />
                    </div>
                </div>
                <div class="input-field col s4">
                    <select name="AuthorId" class="brown-text">
                        <option value="" disabled selected>Choose your option</option>
                        @foreach (var item in Authors)
                        {
                            <option value="@item.Id">@item.Name</option>

                        }
                    </select>
                </div>
                <div class="input-field col s2" >
                    <button class="btn brown" type="submit">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>


</div>
<div class="container">
    <div class="row">
        @if (Model != null && Model.Count() != 0)
        {
            <div class="col s12">
                @foreach (var item in Model)
                {
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="~/img/Books/@(item.Id).jpg" style="width:180px;">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">

                                <h5 class="title brown-text">@item.Name</h5>
                                <p><span class="bolden brown-text">Author : </span> <span>@item.Author.Name</span> </p>
                                <p><span class="bolden brown-text">Pages : </span> <span>@item.numberOfPages</span> </p>
                                <p><span class="bolden brown-text">Description : </span> <span>@item.Description</span> </p>
                                <p><span class="bolden brown-text">Relase Date : </span> <span>@item.ReleaseDate.ToShortDateString()</span> </p>

                            </div>
                            @if (this.Context.User.Identity.IsAuthenticated)
                            {
                                <div class="card-action">
                                    <a onclick="OpenModel(@item.Id)" class="brown waves-effect waves-light btn" href="#modal1">Order</a>
                                </div>
                            }
                            else
                            {
                                <div class="card-action">
                                    <a href="/home/login" class="brown-text text-darken-2">You need to be logged in to order</a>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>


        }
        else
        {
            <h2 class="center-align">There's no Books</h2>
        }
     



    </div>
</div>
<div id="modal1" class="modal modal-footer">
    <div class="modal-content">
        <h4>Confirmation</h4>
        <input type="hidden" id="tempID" value="" />
        <p>Are you sure you want to order this book ? </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">NO</a>
        <a href="#!" onclick="SendOrder()" class="modal-action waves-effect waves-green btn-flat ">YES</a>
    </div>
</div>
<script>
    function OpenModel(id) {
        $('#tempID').val(id);
        $('#modal1').modal('open');


    }
    function SendOrder() {
        var id = $('#tempID').val();
        jQuery.ajax('/Books/order/' + id).done(function (msg) {
            console.log(msg);
            alert("Order was done");
            $('#modal1').modal('close');

        }).fail(function (e) {
            console.log(e);
        });

    }
</script>