﻿@model ShopStore.Entites.Models.Book



<div class="modal-content">
    <h4>Item Details</h4>
            <div class="row">

    @Html.AntiForgeryToken()
             <div class="row">
                    <div class="input-pad">
                        <div class="tile">
            @Html.DisplayFor(model => model.Author.Name)
                        </div>
            @Html.LabelFor(model => model.Author.Name, new { @class = "dels" })
                    </div>
      
                    <div class="input-pad">
                        <div class="tile">
            @Html.DisplayFor(model => model.Name)
                        </div>
            @Html.LabelFor(model => model.Name, new { @class = "dels" })
                    </div>
      
                    <div class="input-pad">
                        <div class="tile">
            @Html.DisplayFor(model => model.ReleaseDate)
                        </div>
            @Html.LabelFor(model => model.ReleaseDate, new { @class = "dels" })
                    </div>
      
                    <div class="input-pad">
                        <div class="tile">
            @Html.DisplayFor(model => model.numberOfPages)
                        </div>
            @Html.LabelFor(model => model.numberOfPages, new { @class = "dels" })
                    </div>
      
                    <div class="input-pad">
                        <div class="tile">
            @Html.DisplayFor(model => model.Description)
                        </div>
            @Html.LabelFor(model => model.Description, new { @class = "dels" })
                    </div>
      

                        </div>
                    </div>
                </div>
           

