﻿@model ShopStore.Entites.Models.Book


@using (Html.BeginForm())
{
    <div class="modal-content">
        <h4>Edit Item</h4>
        <div class="row">

            @Html.AntiForgeryToken()
            <div class="row">


                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <div class="input-field col s12">
                    @Html.DropDownList("AuthorId", String.Empty)
                    @Html.ValidationMessageFor(model => model.AuthorId)
                    @Html.LabelFor(model => model.AuthorId, "AuthorId")



                </div>

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                    @Html.LabelFor(model => model.Name)



                </div>

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.ReleaseDate)
                    @Html.ValidationMessageFor(model => model.ReleaseDate)
                    @Html.LabelFor(model => model.ReleaseDate)



                </div>

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.numberOfPages)
                    @Html.ValidationMessageFor(model => model.numberOfPages)
                    @Html.LabelFor(model => model.numberOfPages)



                </div>

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                    @Html.LabelFor(model => model.Description)



                </div>
                <div class="input-field col s12">


                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="img">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Edit</button>
        </div>

    </div>}


