﻿
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot ">
        <div class="container">
            <br><br>
            <h1 class="header center brown-text text-darken-2 ">The Star Publishing House</h1>
            <div class="row center">
                <h5 class="header col s12 black-text light">We will deliver you book to your door.</h5>
            </div>
            <div class="row center">
                @if (this.Context.User.Identity.IsAuthenticated)
                {
                    <a href="/Books/Index" id="download-button" class="btn-large waves-effect waves-light brown darken-2">Show Books</a>

                }
                else
                {
                    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light brown darken-2">Register Now</a>

                }


            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center brown-text light">Speeds up delivery</h5>
                    <p class="light">
                        We are obligated to deliver your books in the fastest way possible. We have a trained delivery team which will deliver all your books in the time you needed. No delays, No execuses, ALL IN TIME.
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">search</i></h2>
                    <h5 class="center brown-text light">Easy to search</h5>
                    <p class="light">
                        It's easy to use. You can search witihn your favourites authors and book to find them. Nothing hard you can now catch'em all.
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center brown-text light">Easy to work with</h5>
                    <p class="light">
                        Our Website is very easy to use. Literally you are one click away from getting your favourite book. It's very easy: Signup, Order, Enjoy
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text light">Find your book with a click</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/img/background2.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4 class="brown-text light">Why us ?</h4>
                <p class="left-align light">
                    Are you bothered of going out and search for books? Are you tired from searching of books in every bookshop you met without finding what you need ?
                    Well, we are here to help. You can search for you books and order them with a simple click. It's free and there's no extra or hidden fees. You will have a gurantee of delivering your package safe.

                </p>
            </div>
        </div>
    </div>
</div>

