﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<string>

<div class="container">
    <div class="row">
        <form class="col s12" method="post">
            <div class="row">
                @if (Model != null)
                {
                    <div class="error">
                        <ul>
                            @foreach (var item in Model)
                            {
                                <li style="color:#FF4081">@item</li>
                            }
                        </ul>
                    </div>
                }

                <div class="input-field col s12">
                    <label for="Username">Username*</label>
                    <input id="Username" name="UserName" type="text" data-error=".errorTxt1">
                    <div class="errorTxt1"></div>
                </div>

                <div class="input-field col s12">
                    <label for="password">Password *</label>
                    <input id="password" type="password" name="password" data-error=".errorTxt3">
                    <div class="errorTxt3"></div>
                </div>

                <div class="col s12">
                    <p>
                        <input name="RememberMe" type="checkbox" id="gender_male" value="True" data-error=".errorTxt8" />
                        <label for="gender_male">RememberMe</label>
                    </p>
                    <div class="input-field">
                        <div class="errorTxt8"></div>
                    </div>
                </div>


                <div class="input-field col s12">
                    <button class="btn brown waves-effect waves-light right submit" type="submit" name="action">
                        Submit
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>