﻿@model IEnumerable<string>
<style>
    .input-field div.error {
        position: relative;
        top: -1rem;
        left: 0rem;
        font-size: 0.8rem;
        color: #FF4081;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }

    input.error {
        border-bottom: 1px solid #FF4081;
        box-shadow: 0 1px 0 0 #FF4081;
    }

   
</style>
<div class="container">
    <div class="row">
        <form class="col s12" id="signupForm" method="post">
            <div class="row">
                @if (Model != null)
                {
                    <div class="error">
                        <ul>
                            @foreach (var item in Model)
                            {
                                <li style="color:#FF4081">@item</li>
                            }
                        </ul>
                    </div>
                }

                <div class="input-field col s12">
                    <label for="Username">Username*</label>
                    <input id="Username" name="username" type="text" data-error=".errorTxt1">
                    <div class="errorTxt1"></div>
                </div>
                <div class="input-field col s12">
                    <label for="Name">Full Name*</label>
                    <input id="Name" name="Name" type="text" data-error=".errorTxtName">
                    <div class="errorTxtName"></div>
                </div>
                <div class="input-field col s12">
                    <label for="email">E-Mail *</label>
                    <input id="email" type="email" name="email" data-error=".errorTxt2">
                    <div class="errorTxt2"></div>
                </div>
                <div class="input-field col s12">
                    <label for="password">Password *</label>
                    <input id="password" type="password" name="password" data-error=".errorTxt3">
                    <div class="errorTxt3"></div>
                </div>
                <div class="input-field col s12">
                    <label for="cpassword">Confirm Password *</label>
                    <input id="cpassword" type="password" name="cpassword" data-error=".errorTxt4">
                    <div class="errorTxt4"></div>
                </div>

                <div class="input-field col s12">
                    <label for="address">Address *</label>
                    <input id="address" type="text" name="address" data-error=".errorTxt5">
                    <div class="errorTxt5"></div>
                </div>
                <div class="input-field col s12">
                    <label for="MobilePhone">MobilePhone *</label>
                    <input id="MobilePhone" type="text" name="MobilePhone" data-error=".errorTxt6">
                    <div class="errorTxt6"></div>
                </div>
                <div class="col s12">
                    <label for="genter_select">Gender *</label>
                    <p>
                        <input name="cgender" type="radio" id="gender_male" value="m" data-error=".errorTxt8" />
                        <label for="gender_male">Male</label>
                    </p>
                    <p>
                        <input name="cgender" type="radio" id="gender_female" value="f" />
                        <label for="gender_female">Female</label>
                    </p>
                    <div class="input-field">
                        <div class="errorTxt8"></div>
                    </div>
                </div>


                <div class="input-field col s12">
                    <button class="btn brown waves-effect waves-light right submit" type="submit" name="action">
                        Submit
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>